<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{title}}</title>
  </head>

  <body>
    <h3>The Vinyl Library</h3>
    <p>{{message}}</p>
    {{{content}}}
    <footer>
      <p><small>Album metadata was provided by the generosity of the Spotify Web API. Click here to check out Spotify: <a href="http://www.spotify.com" target="__blank"><img src="/assets/images/spotify.png" height="30" class="spotify"></a></small></p>
      <p><small>The purpose of this project was purely educational, it is not for public use. All development by Patrick Dodd. &copy; 2015.</small></p>
    </footer>
  </body>
<html>
