<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{title}}</title>
  </head>

  <body>
    <div class="user_greet">
      <p ><small class="hi">Hi, {{user}}! </small>
      <small><a href="/logout"> Log Out</a></small></p>
    </div>
    <nav>
      <ul class="nav_items">
        <li class="nav-left"><a href="/">Home</a></li>
        <li><a href="/lent" class="nav-right">Lent</a></li>
      </ul>
    </nav>
    <form class="searchForm" action="/search" method="POST">
      <input name="search" placeholder="artist + album; ex. 'Neil Young Harvest'">
      <button type="submit">search for new albums</button>
    </form>
    {{{content}}}

  </body>
<html>
